body {
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.game-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.game-pin {
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.spinning {
  animation: spin 1s ease-in-out;
}
